*{
    padding: 0;
    margin: 0;
}
html, body {
    margin: 0;
    height: 100%;
}
body{
    margin: 0px;
    font-family: sans-serif;
    background-color:rgb(231, 229, 229);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgb(43, 43, 161);
}

.home a{
    position:relative;
    color:white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600; 
    left: 6px;
}
nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}
nav .navbar .nav-links{
    line-height: 70px;
    position:fixed;  
    left:0px;
}

box-icon {
    position:relative;
    width: 45px;
    height: 55px;
    top:5px;
    fill: white;
}
box-icon:hover {
    fill:rgb(43, 43, 161);
}
nav .navbar .nav-links .links li{
    position:relative;
    display:flex;
    list-style: none;
    padding: 0px 25px;
    
}

nav .navbar .nav-links .links li a{
   text-decoration: none;
   font-size: 15px;
   font-weight: 400;
   color:white;   
   padding-top: 20px;
   
}
.info-container{
    position:relative;
    top: 20px;
}

nav .navbar .nav-links .links .drop-menu{
    position:absolute;
    background-color: rgb(43, 43, 161);
    top: 0px;
    left: -300%;
    line-height: 50px;
    border-radius: 0px 0px 5px 5px;
    width:180px;
    height:1000px;
    transition: all 0.3s ease;
    
}

.title {
    position:relative;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 28%;
}

.canvas-container{
    position:static;
    margin-top: 0px;
    height:100%;
    width:100%;
    border:solid;
    text-align: center;
}
#canvas{
    position: relative;
    top:30%;
    border: 3px solid rgb(43, 43, 161);
    background-color: white;
    border-radius: 10px;    
}
.buttons{
    height: 10%;
    position:relative;
    top:31%;

    
}
.predict{
    width: 80px;
    height: 45px;
    top: 10px;
    position: relative;
    right: 30px;
}
.clear{
    position:relative;
    width: 80px;
    height: 45px;
    top: 10px;
    left: 30px;
}
.data{
    position:absolute;
}

